* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Type Page CSS styling*/

.typeBody {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

.mainDiv {
    height: 60vh;
    width: 90vh;
    background-color: rgb(30, 112, 150);
    margin: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 20px black;
}

.textBox {
    display: flex;
    height: 30%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    font-size: 12px;
    color: #EDF5E1;
    font-family: 'Courier Prime', monospace;
    font-weight: 500;
    text-shadow: 2px 2px black;
}

.buttonBox {
    display: flex;
    justify-content: space-around;
}

.catBox {
    display: flex;
    flex-direction: column;
}

.catBox .catImg {
    background-color: transparent;
    margin-top: 20px;
    height: 90px;
    width: 120px;
}

.catLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.catBox  .catBtn {
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Courier Prime', monospace;
    border:white solid 2px;
    font-size: 15px;
    box-shadow: 1px 1px 2px black;
    transition: ease-in 0.3s;
}

.catBox .catBtn:hover {
    color: black;
    background-color: white;
    border-color: black;
}

.catBtn:focus {
    background-color: red;
}

.dogBox {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

 .dogBox .dogImg {
    background-color: transparent;
    margin-top: 15px;
    height: 100px;
    width: 120px;
}


.dogBox .dogBtn {
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: #EDF5E1;
    font-family: 'Courier Prime', monospace;
    border:#EDF5E1 solid 2px;
    font-size: 15px;
    box-shadow: 1px 1px 2px black;
    transition: ease-in 0.3s;
}

.dogBox .dogBtn:hover {
    color: black;
    background-color: white;
    border-color: black;
}

.dogBtn:focus {
    background-color: red;
}

.inputBox {
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 2vh;
}

.inputBox input {
    width: 18vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: black;
    color: white;
}

.inputBox button {
    margin-top: 1.5vw;
    height: 30px;
    width: 5vw;
    border-radius: 5px;
    background-color: black;
    color: #EDF5E1;
    font-family: 'Courier Prime', monospace;
    border:#EDF5E1 solid 2px;
    font-size: 10px;
    box-shadow: 1px 1px 2px black;
    transition: ease-in 0.3s;
}







/*--------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
---------------------------------------------------------*/
/*================ Home Page Styling==================== */

.homeBody {
    background-color: white;
    display: flex; 
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.homeBody::-webkit-scrollbar {
    display: none;
}

/*--------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
----------------PopOut Nav Styling----------------------*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 15vh;
    height: 100%;
    width: 0vw; /*change to 15vw on btn click*/
    background-color: rgb(30, 112, 150);
    border-radius: 0px 0px 20px 0px;
    position: fixed;
    overflow-x: hidden;
    box-shadow: 1px 1px 15px black;
    transition: ease-in-out 0.8s;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    transition: ease-in 0.2s;
    display: block;
    margin-top: 10vh;
}

nav a:hover {
    color: black;
    border-bottom: black solid 2px;
}


#animalImg {
    height: 20vh;
    width: 11vw;
    margin-right: 0vw;
    margin-left: 2vw;
    padding: 20px;
}
/*--------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
----------------TopMenu Styling-------------------------*/
.topMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 15vh;
    background-color: white;
    border-bottom: solid 2px rgb(30, 112, 150);
    position: fixed;
    z-index: 10;
}

.topMenu h1 {
    margin-top: 10px;
    font-family: 'Courier Prime', monospace;
    font-size: 4vh;
    text-shadow: 1px 1px white;
    margin-left: .5vw;
    color: black;
}

.topMenu .hBurger {
    margin-left: 2vw;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.topMenu .logo {
    height: 14vh;
    width: 10vw;
}

.topMenu .topButtonBox {
    display: flex;
    height: 60px;
    width: 30vw;
    margin-left: 30vw;
}

.topMenu .topButtonBox button {
    color: rgb(30, 112, 150);
    font-size: 12px;
    font-family: 'Courier Prime', monospace;
    background-color: transparent;
    border: solid 2px rgb(30, 112, 150);
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
    box-shadow: 1px 1px 3px black;
    transition: ease-in 0.2s;
}

.topMenu .topButtonBox button:hover {
    background-color: rgb(30, 112, 150);
    color: white;
    border: white;
}

#userAnimalPreference {
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Courier Prime', monospace;;
}

/*--------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
----------------Main Body Styling- ----------------------*/

/*=====================para1 Area=============================*/

.para1 {
    scroll-snap-align: start;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("imgs/background1.jpg");
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.para1 .cover {
    bottom: 0;
    position: absolute;
    height:85%;
    width:100%;
    background-color: black;
    background-attachment: fixed;
    opacity: 0.4;
}

.para1 #para1TextBox {
    margin-top: 50vh;
    height: 40vh;
    width: 50vw;
    background-color: transparent;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    color: white;
    font-size: 1.5rem;
    z-index: 9
}

.para1 #para1TextBox span {
    text-decoration-line: underline;
    text-decoration-color: rgb(30, 112, 150);
    
}

.para1 #para1TextBox button {
    color:white;
    font-size: 12px;
    font-family: 'Courier Prime', monospace;
    background-color: rgb(30, 112, 150);
    border: solid 2px white;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 1px 1px 3px rgb(30, 112, 150);
    transition: ease-in 0.3s;
}

.para1 #para1TextBox button:hover {
    border: rgb(30, 112, 150);
    color:rgb(30, 112, 150);
    background-color: white;;
}





/*=====================homeTextArea=============================*/

.homeTextArea {
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: white;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.slider{
    position: relative;
    background: rgb(30, 112, 150);
    width: 50vw;
    height: 60vh;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .navigation{
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 2;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-10px);/*-50*/
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #4285F4;
  }
    

/*=====================Para2 Area=============================*/

.para2 {
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 90%;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("imgs/para2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.para2 .cover2 {
    position: absolute;
    height:100%;
    width:100%;
    background-color: black;
    background-attachment: fixed;
    opacity: 0.4;
}

.para2 .testimonial {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 70vh;
    width: 40vw;
    background: rgba(167, 197, 204, 0.4);
    z-index: 1;
    margin: 50px;
    border-radius: 9px;
    box-shadow: 10px 10px 20px black;
    font-family: 'Courier Prime', monospace;
    text-align: justify;
    text-justify: inter-word;
}


.para2 .testimonial  img {
    padding: 3px;
    margin-top: 10px;
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    box-shadow: 4px 4px 20px black;
    opacity: 1;
}

.para2 .testimonial h1 {
    margin-top: 4vh;
    color: white;
}



.para2 .testimonial h3 {
    opacity: 0.9;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
}

/*--------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
----------------Footer Styling---------------------------*/


.footer {
    display: flex;
    height: 20vh;
    width: 100vw;
    background-color: white;
}

/*=====================contactDetails=============================*/

.footer .contact {
    display: flex;
    height:100%;
    width: 33.3%;
    background-color: white;
}

.footer .contact .contactIcon {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 20%;
}

.footer .contact .contactIcon i {
    color:rgb(30, 112, 150);
    margin-top: 1.5vh;
    padding: 5px;
    font-size: 20px;
}

.footer .contact .contactText {
    height: 100%;
    width: 50%;
}

.footer .contact .contactText h3 {
    font-size: 12px;
    margin-top: 2vh;
    padding: 5px;
    font-family: 'Courier Prime', monospace;
}

.footer .contact .contactText a {
    text-decoration: underline;
    color: black;
}

.footer .contact .contactText a:hover {
    color:rgb(30, 112, 150);
}

/*=====================openHours=============================*/

.footer .hours {
    height:100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Courier Prime', monospace;
    background-color: white;
}

.footer .hours h3 {
    color: rgb(30, 112, 150);
    margin-bottom: 5px;
    font-size: 20px;
}

.footer .hours h4 {
    padding: 2px;
}

/*=====================socialMedia=============================*/

.footer .socials {
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width: 33.3%;
    background-color: white;
}

.footer .socials i {
    font-size: 30px;
    padding: 40px;
    color:rgb(30, 112, 150);
}

.footer .socials a {
    text-decoration: none;
}


/*--------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
---------------------------------------------------------*/
/*================Service Page Styling==================== */


.serviceBody::-webkit-scrollbar {
    display: none;
} 

/*=================topSection============================*/
.serviceBox {
    display: flex;
    height: 60vh;
    width: 100%;
    background-color: rgb(30, 112, 150);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.innerServiceBox {
    display: flex;
    height: 60vh;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.service {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 30vh;
    width: 10vw;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 3px;
    align-items: center;

}

.service i {
    font-size: 3em; 
    margin-top: 2vh;
    color:white;
    background-color: rgb(30, 112, 150);
    border-radius: 50%;
    padding: 2vw;
}

.service h4 {
    margin-top: 2.5vh;
    font-size: 1em;
    font-family: 'Courier Prime', monospace;
}

.service a {
    text-decoration: none;
    color: black;
}

.underlineGrow {
    display: inline-block;
    position: relative;
}

.underlineGrow::after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineGrow:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/*==============TextSection====================*/

.serviceBox2 {
    display: flex;
    height: 20vh;
    width: 100vw;
    background-color: white;
    justify-content: center;
    border-bottom: rgb(30, 112, 150) 2px solid;
}

.serviceBox2 h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    text-decoration: underline;
    text-decoration-color: rgb(30, 112, 150);
}

/*================== Health Check Section===================*/

.healthChecks {
    display: flex;
    height: 70vh;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
}

.textArea {
    height: 100%;
    width: 60%;
    background-color: white;
    text-align: justify;
    text-justify: inter-word;
}

.textArea h2 {
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(30, 112, 150);
    margin: 5vh;
    font-size: 7vh;
}

.textArea h4 {
    font-family: 'Courier Prime', monospace;
    margin-left: 1.9vw;
    margin-top: 2.5vh;
    color:rgb(30, 112, 150);
    font-size: 15px;
    line-height: 1.3;
}

.imageArea {
    display: flex;
    height: 100%;
    width: 40%;
    background-color:white;
    align-items: center;
}

.imageArea img {
    width: 95%;
    margin-left: 1vw;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}

/*================== vaccination Check Section===================*/

.vaccinations {
    display: flex;
    height: 70vh;
    width: 100%;
    border-bottom: 2px solid black;
}

.vaccinations .imageArea {
    background-color: rgb(30, 112, 150);
}

.vaccinations .imageArea img {
    margin-bottom: 5vh;
    width: 95%;
    margin-left: 1.5vw;;
}

.vaccinations .textArea {
    background-color: rgb(30, 112, 150);
    text-align: justify;
    text-justify: inter-word;
}

.vaccinations .textArea h2 {
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    text-decoration-color:white;
    margin: 5vh;
    font-size: 7vh;
}

.vaccinations .textArea h4 {
    font-family: 'Courier Prime', monospace;
    margin-left: 1.9vw;
    margin-top: 2.5vh;
    color:white;
    font-size: 15px;
    margin-right: 1.5vw;
    line-height: 1.3;
}

.vaccinations .textArea ul {
    margin-top: 5vh;
    margin-left: 3vw;
    color: white;
    font-family: 'Courier Prime', monospace;
    font-size: 15px;
}

/*================== dental Section===================*/
.dental {
    display: flex;
    height: 70vh;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
}

.dental .imageArea img {
    
    width: 94%;
    margin-left: 1.5vw;;
}


/*================== surgical Section===================*/
.surgical {
    display: flex;
    height: 70vh;
    width: 100%;
    border-bottom: 2px solid black;
    background-color: rgb(30, 112, 150);
}

.surgical .imageArea {
    background-color: rgb(30, 112, 150);
}

.surgical .textArea {
    background-color: rgb(30, 112, 150);
    text-align: justify;
    text-justify: inter-word;
}

.surgical .textArea h2 {
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    text-decoration-color:white;
    margin: 5vh;
    font-size: 7vh;
}

.surgical .textArea h4 {
    font-family: 'Courier Prime', monospace;
    margin-left: 1.9vw;
    margin-top: 2.5vh;
    color:white;
    font-size: 15px;
    margin-right: 1.5vw;
    line-height: 1.3;
}

.surgical .listBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 40%;
    margin-left: 3vw;
}

.surgical .ulBox {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px black;
}

.surgical .listBox h3 {
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(30, 112, 150);
}

.surgical .listBox ul {
    margin-top: 1vh;
    color: white;
    font-family: 'Courier Prime', monospace;
    font-size: 15px;
    color: rgb(30, 112, 150);
}


/*================== radiography Section===================*/

.radio {
    display: flex;
    height: 70vh;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
}

.radio .imageArea img {
    width: 94%;
    margin-left: 1.5vw;;
}


/*--------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
---------------------------------------------------------*/
/*================About Page Styling==================== */

.aboutBody::-webkit-scrollbar {
    display: none;
}

.aboutUsMain {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: start;
    border-bottom: rgb(30, 112, 150) 2px solid;
}

.aboutMain {
    margin-top: 15vh;
    margin-left: 3.5vw;;
    display: flex;
    height: 70vh;
    width: 60vw;
    background-color: rgb(30, 112, 150);
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.aboutUsMain img {
    margin-top: 15vh;
    height: 70vh;
    width: 30vw;
    margin-left: 3vw;
    border-radius: 10px;
}

.teamMain {
    height: 100vh;
    width: 100%;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 7px;
    border:2px solid black;
}